<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title or "weirdnet directory" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/base.css">
</head>
<body>
  <div class="wrap">
    <table width="100%" cellspacing="0" cellpadding="8" class="box">
      <tr>
        <td width="240" valign="top">
          <b>weirdnet</b><br>
          <span class="small">directory.weirdnet.org</span>
          <hr>
          <a href="/">Home</a><br>
          <a href="/categories/">Categories</a><br>
          <a href="/tags/">Tags</a><br>
          <hr>
          <a href="https://links.weirdnet.org/">Link-dump</a><br>
        </td>

        <td valign="top">
          {{ content | safe }}
        </td>
      </tr>
    </table>

    <div class="footer">
      Made by <a href="https://pablo.space" rel="noreferrer"><b>Pablo Murad</b></a>, since 1987 — no rights reserved.
      <div class="footer-warning">
        <i>all incoming connections to weirdnet.org are monitored for security and provenance. no scammers! - pablo</i>
      </div>
    </div>
  </div>
</body>
</html>
